:root {
    --red-color: #9b2226;
    --darkorange-color: #ab3428;
    --lightred-color: #d81220;
    --cherry-color: #bc4749;
    --lightcherry-color: #e63946;
    --lightplum-color: #785964;
    --orange-color: #f6aa1c;
}
