* {

   
    padding: 0;


   

    box-sizing: border-box;
}
body {
    background-color: #dee2ff;
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style-type: none;
}

/* Header */

header {
    height: 80px;
    color: #f6aa1c;
    background-color: #abd1b5;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
}

h1 {
    text-align: center;
    color: #ccd5ae;
    margin-left: 25px;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-size: 25px;
    color: #ab3428;
}

h3 {
    text-align: left;
    font-size: 25px;
    color: #d81220;

    text-decoration-line: underline;
}
.navigation {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #5c6d70;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    padding-left: 80px;
    padding-left: 80px;
}
.navigation__links {
    display: flex;
    gap: 40px;
    align-items: center;
    color: #538d22;
}

/* Hero section*/

.hero-section__image img {
    width: 100%;
}

.hero-section__description {
    max-width: 1440px;
    margin: 0 auto;
    color: #f28482;
}
/*Destination-section*/

.destination-section {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    height: 100px;
    color: #e63946;
}

.destination-section__container h2 {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #9e1c10;
}

.destination-table {
    background-color: #619b8a;
}

.photo-section__img img {
    width: 100%;
    height: auto;
}

/*Info Section*/

.info-section {
    height: auto;
    display: flex;
    padding-left: 100px;
    margin: 10px;

    color: #d81159;
}

.info-section dd {
    margin-left: 25px;
}

.info-section iframe {
    display: flex;
    gap: 20px;
    padding-left: 80px;
}
table {
    border-collapse: collapse;
    width: 100%;
    color: #89023e;
}

th,
td {
    border: 1px solid #da627d;
    text-align: center;
}


.hero-section__video h2 {
    text-align: left;
    font-size: 20px;
    line-height: 25px;
    color: #785964;
    margin-bottom: 20px;
    margin-top: 45px;
}

#iframe {
    margin-top: 10px;
    margin-bottom: 50px;

th {
    background-color: #81b29a;
 main
}

/*Contact us*/
table {
    border-collapse: collapse;
    width: 50%;
}
th,
td {
    border: 1px solid black;

    text-align: center;
}
th {
    background-color: #a4c3b2;
}

.contact-header {
    max-width: 1440px;
    margin: 0 auto;

    background-color: #eee4e1;
    /*padding-top: 15px;
    height: 80px;
    padding-right: 80px;
    padding-left: 80px;*/
}
.contact-all {
    width: 100%;
}
.contact-header h1 {
    font-size: 30px;
    color: #780116;
}

/* Contact */

.inquire-section {
    background-color: #a4c3b2;
}

#emailInput {
    margin-top: 15px;
}
#telInput {
    margin-top: 15px;
}
#passwordInput {
    margin-top: 15px;
}
h4 {
    color: #780116;

    font-size: 20px;
}
dl {
    color: #9d8189;
}
.question-section h5 {
    text-align: center;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
    width: 1200px;
    background-color: #74c69d;
    border-radius: 15px;
}

/*Footer*/

.footer-contact {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #b5838d;
}
.footer-social__icons {
    margin-top: 40px;
}
.footer__logo {
    margin-bottom: 25px;
    color: #252422;
    line-height: 20px;
    text-align: center;
}
.footer__logo p {
    color: #780116;
}
.footer-page li {
    text-align: center;
    color: #780116;
    line-height: 35px;
}
